.waffle {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
  }
  
  .block {
    width: 10px;
    height: 10px;
    margin: 2px;
  }




body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}
@font-face {
    font-family: 'Trajan Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Regular'), url('/fonts/TrajanPro-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Trajan Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Bold'), url('/fonts/TrajanPro-Bold.woff') format('woff');
    }
.headerTest {
        font-family: 'Trajan Pro Regular';
        font-style: normal;
        font-weight: normal;
    }
.logoImage {
        Height: 200px;
        width: auto;
    }
    
.logoBox {
        background-color: #dbd5d5;
        width: 30%;
        height: 250px;
        margin: 20px auto;
        padding: 5px;
        border-radius: 2px;
    }
form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: black;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: black;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
