element.style {
    vertical-align: top;
    font-size: 16px;
    
}
body {
    background-image:url("/images/forest-background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: white;
    
}

.nav {
    overflow: hidden;
    opacity: 1;
    background-color: white;
}
.nav-title {
    font-family: 'Trajan Pro Regular';
        font-style: normal;
        font-weight: normal;
    color: black;
}
.nav-link {
    color: black;
    background-color: white;
}
header {
    text-align: right;
    opacity: 1;
    background-color: white;
    background-image: rgba(255, 255, 255, 1 )100%;
}

#gameplay-container{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    overflow: auto;
    width: 1300px;
    min-height: 500px;
    min-width: 1300px;
    /* border: black; */
    background-image: linear-gradient(rgba(255, 255, 255, 1 )0%,rgba(255, 255, 255, 0)  100%);
}
 .column {
        min-height: 100%;
        /* height: 100%; */
        /* height: 500px; */
        height: auto;
        display: inline-block;
        margin-top: 4px;
        /* border: solid; */
        text-align: center;
        vertical-align: top;

}

#left-container {
    width: 25%;
    max-width: 400px;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 70px;
    text-align: left;

    overflow-y: auto;
    overflow-x: hidden;
    /* background-image: linear-gradient(rgba(255, 255, 255, 1 )0%,rgba(255, 255, 255, 0)  100%); */
}
#middle-container {
        width: 630px;
        overflow-y: auto;
        overflow-x: hidden;
        
        /* margin-top: 30px; */
}

#right-container {
    width: 250px;
    min-height: 300px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    background-image: linear-gradient(rgba(255, 255, 255, 1 )0%,rgba(255, 255, 255, 0)  100%);
   
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.span {
        font-family: Helvetica;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid black;
        background: white;
        padding: 0;
        width: 200px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        /* padding: 10px 0 10px 10px; */
        padding: 10px 10px 10px 10px;
}
.resource {
    font-family: Helvetica;
        font-size: 18px;
        border-radius: 3px;
        /* border: 1px solid black; */
        background: white;
        padding: 0;
        width: 200px;
        position: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        /* padding: 10px 0 10px 10px; */
        padding: 10px 10px 10px 10px;
}


.span:active {
    color:black;
    background-color: forestgreen;
    box-shadow: 0 0 10px 1px rgba(10,10,10,10.6);
}

.floatSpan {
    
    font-family: Helvetica;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #888;
    padding: 0;
    width: 264px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px 0 10px 10px;
    position: relative;
  right: -100px;
  top: -160px;
  z-index: 1;
  opacity: .8;
  background: white;
}

.tabSpan {
    font-family: Helvetica;
    font-size: 17px;
    border-radius: 3px;
    /* border: 1px solid black; */
    padding: 0px;
    width: 100px;
    position: relative;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    opacity: .9;
    padding: 10px 0 10px 10px;
    background-color: white
}
.tabSpan:active {
    color:black;
    background-color: green;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
button:hover {
        color: white;
        background: gray
}
.tabSpan:hover{
    color: white;
    background: gray;
}

.bigTab {
    border-radius: 3px;
    
    /* border: 1px solid #888; */
}

.smallTab {

        border-radius: 3px;
        /* border: 1px solid #888; */
    
}
.flavor {
    font: italic;
    font-size: 11px;
}

.ptag {
    color: black;
    text-align: left;
    opacity: .9;
    padding: 1px 1px 1px 1px;
    background-color: white;
  }

.progress-bar {
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;
}

.filler {
    background: #1DA598;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}