element.style {
    vertical-align: top;
    font-size: 16px;
}

header {
    text-align: right;
}

#gameplay-container{
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    overflow: auto;
    width: 1300px;
    border: black;
}
 .column {
        min-height: 100%;
        /* height: 100%; */
        height: 500px;
        display: inline-block;
        margin-top: 4px;
        border: solid;
        text-align: center;
        vertical-align: top;

}

#left-container {
    width: 25%;
    max-width: 400px;
    min-width: 300px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
#middle-container {
        width: 630px;
        overflow-y: auto;
        overflow-x: hidden;
        /* margin-top: 30px; */
}

#right-container {
    width: 250px;
    padding-left: 8px;
    /* top: 20px; */
    position: relative;
}

.span {
        font-family: Helvetica;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid black;
        padding: 0;
        width: 264px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        padding: 10px 0 10px 10px;
}
.span:active {
    color:black;
    background-color: green;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.floatSpan {
    
    font-family: Helvetica;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #888;
    padding: 0;
    width: 264px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px 0 10px 10px;
    position: absolute;
  right: 350px;
  top: 180px;
  z-index: 1;
  opacity: 1;
  background-color: solid white;
}

.tabSpan {
    font-family: Helvetica;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 0px;
    width: 100px;
    position: relative;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    opacity: 1;
    padding: 10px 0 10px 10px;
    background-color: lightblue;
}
.tabSpan:active {
    color:black;
    background-color: green;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.bigTab {
    border-radius: 3px;
    border: 1px solid #888;
}

.smallTab {
        border-radius: 3px;
        border: 1px solid #888;
    
}
.flavor {
    font: italic;
    font-size: 11px;
}